<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @person.code %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Label:</b>
  <%= @person.label %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
